<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad debitis
    praesentium dolore quos! Necessitatibus error consequatur voluptate repellat
    a dignissimos quaerat ipsum hic adipisci iste amet enim, soluta fuga
    excepturi aliquid quidem dolor quo modi libero, deserunt sapiente. Fugit
    eligendi quidem laborum incidunt a maiores consequatur numquam nemo tenetur
    corrupti!
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Jhone Lumeo</h3>
        <p class="quote__company">ABC Company</p>
      </div>
    </div>
  </footer>
</blockquote>
